<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qile.garden.field.dao.FieldInfoMapper">
    <resultMap type="qile.garden.field.entity.FieldInfo" id="fieldInfoMap">
        <id column="id" property="id" />
        <result column="contract_name" property="contractName"/>
    </resultMap>
    
    <insert id="addFieldInfo" parameterType="qile.garden.field.entity.FieldInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO 
        	field_info 
        	(contract_name,fk_store_id,contactor,cell_phone,tele_phone,bank,bank_account,nc_no,store_type,use_tag,taxpayer_no,address,tgf_usable)
        VALUES 
        	(#{contractName},#{fkStoreId},#{contactor},#{cellPhone},#{telePhone},#{bank},#{bankAccount},#{ncNo},#{storeType},#{useTag},#{taxpayerNo},#{address},#{tgfUsable})
    </insert>
   
    <select id="getById" parameterType="Integer" resultMap="fieldInfoMap">
    	SELECT 
    		* 
    	FROM 
    		field_info 
    	WHERE 
    		id=#{id}
    </select>
</mapper>